.panel-heading > h5{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

.row.top-viz{
	max-height: 10vh; 
}

/*t1*/
.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}
  
.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

/*
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    
    .x.axis path {
      display: none;
    }*/