
body{
	/*background-color: #000;*/
	background-image: url("images/background-body.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.panel-viz > .panel-body{
	background-color: #eee;
}

.row.page-toolbar{
	height: 10vh;
}

.panel-heading > h5{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

#t1Viz{
	padding: 0;
	height: 35vh;
}

#t5Viz{
	padding: 0;
	height: 35vh;
}

#t2Viz{
	padding: 0;
	height: 50vh;
}

#clvViz{
	padding: 0;
	height: 50vh;
}

#dtlPanel{
	height: 55vh;
}

#t6Viz{
	padding: 0;
	height: calc(40vw);
    width: 45vw;
    overflow: auto;
}

#t4Viz{
	padding: 0;
	height: calc(40vw);
}


/*t1*/
.focus circle {
	fill: #F1F3F3;
	stroke: #6F257F;
	stroke-width: 5px;
}
	
.hover-line {
	stroke: #6F257F;
	stroke-width: 2px;
	stroke-dasharray: 3,3;
}

/*t6*/
rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-interval {
    fill: #000;
}

text.axis-year {
    fill: #000;
}



/*info popup*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

